---
import { getCollection } from 'astro:content';

const sectionTitle = "Be One of Us. Shape Your Future at Uptarget.";
const lookoutText = "Haven’t found the right open position? We’re always on the lookout for new talent!";

const allVacancies = await getCollection('careers', ({ data }) => {
    return data.publish === true;
});

---

<section
        class="vacancies relative z-20 flex flex-col items-center -mt-[112px] md:mt-[-112px] sm:mt-[-30px] ">

    <div class="w-full flex flex-col items-start ">

        <div class="vac-title-box relative z-[1] flex w-full lg:w-[65%] bg-black
            py-[44px] px-10
            md:py-[90px]
            justify-start
            items-start self-start min-h-[250px] lg:min-h-0

            md:pl-[120px]
            lg:pl-[130px]
            2xl:pl-[300px]">
            <div class="max-w-xl">
                <h2 class="font-unbounded font-bold text-white text-[32px] md:text-[48px] xl:text-[56px] leading-tight">
                    {sectionTitle}
                </h2>
            </div>
        </div>

        <div class="vac-lookout-desktop sticky
            top-[120px] 2xl:top-[200px]
            hidden lg:flex flex-col
            w-[65%] h-[500px]
            min-h-[700px]
            h-auto
            pt-[70px] 2xl:pt-[150px]
            justify-start items-start
            pl-[130px] md:pl-[200px] 2xl:pl-[300px]">

            <div class="max-w-[700px] text-left pr-10 2xl:pr-20">
                <p class="text-[18px] md:text-[22px] 2xl:text-[26px] text-gray-600 mb-8 leading-relaxed">
                    {lookoutText}
                </p>
                <button class="open-modal-form button-cta bg-white text-black border-2 border-black px-8 py-3 uppercase text-sm hover:bg-black hover:text-white">
                    send CV
                </button>
            </div>
        </div>

    </div>

    <div id="allVacancies" class="vac-list relative z-[2] w-[90%] lg:w-[45%]
                mt-[-50px] md:mt-[-50px] lg:mt-[-760px]
                mb-[70px] lg:mb-[210px] self-end flex flex-col gap-3 md:gap-4 px-4 md:px-0">

        {allVacancies.map((job) => {
            const isHot = job.data.isHot;
            const bgColor = isHot ? 'bg-orange text-white' : 'bg-yellow ';

            return (
                <div class={`group collection-item relative flex min-h-[100px] md:h-[140px] p-0 px-6 md:pl-[42px] justify-between items-center cursor-pointer transition-transform  ${bgColor}`}>
                    <a href={`/careers/${job.id}`} class="job-list-link absolute inset-0 z-[6]"></a>

                    {isHot && (
                            <div class="absolute z-[10]
                                -top-4 -left-4
                                w-8 h-8
                                rounded-full
                                flex items-center justify-center">
                                <img src="/img/Icon-Hot.svg" class="w-40 h-40" alt="Hot Job"/>
                            </div>
                    )}

                    <div class="relative z-[2] flex flex-col">
                        <h3 class="font-unbounded font-normal leading-snug max-w-[500px]">
                            {job.data.title}
                        </h3>
                    </div>

                    <img
                            src="/img/Arrows.svg"
                            alt="Arrows"
                            class="job-list-arrow relative z-[2]
                                   h-full w-auto
                                   object-contain
                                   opacity-0 -translate-x-8
                                   group-hover:opacity-100 group-hover:translate-x-0
                                   transition-all duration-300 hidden md:block"
                    />

                    <div class="absolute inset-0 bg-white/10 opacity-0 group-hover:opacity-100 transition-opacity"></div>
                </div>
            );
        })}

    </div>

    <div class="vac-lookout lg:hidden w-[88%] mt-0 mb-[100px] self-end px-4">
        <p class="text-[18px] text-gray-600 mb-6">{lookoutText}</p>
        <button class="open-modal-form button-cta bg-white text-black border-2 border-black px-8 py-3 uppercase text-sm">
            send CV
        </button>
    </div>

</section>

<style>
    @reference "../styles/global.css";

    .vacancies {
        isolation: isolate;
    }

    .collection-item {
        box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1);
    }

</style>