---
// src/layouts/Layout.astro
import { ClientRouter } from "astro:transitions";

interface Props {
    title?: string
    description?: string
    image?: string
}

const {
    title = 'UPTARGET — Your Dedicated Team',
    description = 'We are a technology consultancy and software development company that provides top-notch engineers, helping your product to grow.',
    image = '/img/OG-generic.png'
} = Astro.props
const favicon = '/img/favicon.png'
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href={new URL(favicon, Astro.url)} rel="shortcut icon" type="image/x-icon">

    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <ClientRouter />

</head>
<body class="body bg-white text-black font-sans">
<slot name="header" />

<main>
    <slot />
</main>

<div id="modal-root" class="hidden">
    <slot /> <slot name="modal_form" />
</div>

<slot name="footer" />

<script>

    const modalRoot = document.getElementById('modal-root');

    window.addEventListener('open-contact', () => {
        modalRoot?.classList.remove('hidden');
        document.body.style.overflow = 'hidden';
    });

    window.addEventListener('close-contact', () => {
        modalRoot?.classList.add('hidden');
        document.body.style.overflow = '';
    });

</script>

</body>
</html>