---
// src/layouts/Layout.astro
import '../styles/global.css';
import {ClientRouter} from "astro:transitions";
import SchemaOrg from '../components/SchemaOrg.astro';

interface Props {
    title?: string
    description?: string
    image?: string
    canonical?: string
}

const {
    canonical,
    title = 'UPTARGET — Your Dedicated Team',
    description = 'We are a technology consultancy and software development company that provides top-notch engineers, helping your product to grow.',
    image = '/img/OG-generic.png'
} = Astro.props

const canonicalURL = canonical || new URL(Astro.url.pathname, Astro.site);
const pageURL = Astro.url;
const faviconURL = new URL("/img/favicon.png", Astro.site);
const ogImageURL = new URL(image, Astro.site);

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="canonical" href={canonicalURL} />
    <link rel="shortcut icon" type="image/x-icon" href={faviconURL}>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <meta name="generator" content={Astro.generator}/>

    <title>{title}</title>
    <meta name="description" content={description}/>

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" content={canonicalURL}/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={ogImageURL}/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={canonicalURL}/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={ogImageURL}/>

    <SchemaOrg />

    <ClientRouter/>

</head>
<body class="body bg-white text-black font-sans">
<slot name="header"/>

<main>
    <slot/>
</main>

<div id="modal-root" class="hidden">
    <slot/>
    <slot name="modal_form"/>
</div>

<slot name="footer"/>

<script>

    const modalRoot = document.getElementById('modal-root');

    window.addEventListener('open-contact', () => {
        modalRoot?.classList.remove('hidden');
        document.body.style.overflow = 'hidden';
    });

    window.addEventListener('close-contact', () => {
        modalRoot?.classList.add('hidden');
        document.body.style.overflow = '';
    });

</script>

</body>
</html>